<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}!
  </h1>
  <div class="row">

  <div class="col-md-4"></div>
  <div class="col-md-4" *ngIf="status == 'main'">
  <img width="200" src="assets/sword-girl1.png" />
  <div>
    <label>File Path</label>
    <input #filepath type="text" class="btn-block" />
  </div>
  <div>
    <label>Video Start Time</label>
    <input #starttime type="text" class="btn-block" />
  </div>
  <div >
    <label>Video End Time</label>
    <input #endtime type="text" class="btn-block" />
  </div>

  <input (click)="setLoader();submitCut(filepath.value,starttime.value,endtime.value)" type="submit" class="btn-block btn-danger" value="CUT">
  </div>
  <div class="col-md-4" *ngIf="status == 'working'">
    <h3>Working... </h3>
    <img width="200" src="assets/working,png" />
  </div>
  <div class="col-md-4" *ngIf="status == 'complete'">
    <h3>COMPLETE!</h3>
    <img width="200" src="assets/complete.png" />
    <a class="btn btn-block btn-danger" (click)="back()">BACK</a>
  </div>
  <div class="col-md-4" *ngIf="status == 'error'">
    <h3>ERROR!</h3>
    <img width="200" src="assets/error.jpeg" />
    <a class="btn btn-block btn-danger" (click)="back()">BACK</a>
  </div>

  </div>
</div>